.vscode
book_data.json
allCountries*
CountriesNamesAlt.txt
0118
__pycache__
benchmarking_spacy/character_log.txt
benchmarking_fasttext/fasttext_models
language_identification/large_model.bin
language_identification/.large_model.bin.swp
language_identification/output.json