jupyter
pandas
typer
colorama
tabulate
spacy-nightly==3.0.0rc1
pybind11==2.7.0
git+https://github.com/facebookresearch/fastText.git@a20c0d27cd0ee88a25ea0433b7f03038cd728459
langcodes==3.1.0
language-data==1.0
pytest
